# Build files
/build/
*.o
*.out
*.exe
*.a
*.so
*.dSYM

# CMake
/CMakeFiles/
/CMakeCache.txt

# Clang tools
.clangd
.clang-tidy
.clang-format

# Ignore Visual Studio files
*.sln
*.vcxproj
*.vcxproj.user
*.filters
